* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif, system-ui;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

:root {
    --text-color: black;
    --body-background-color: #f0f2f5;
    --div-background-color: white;
    --border: 1px solid lightgrey;

    --input: white;
    --button-txt: black;
    --button-bg: #f0f2f5;
    --button-bg-hover: rgba(149, 225, 211, 0.77);

    --scrollbar-track: #eeeff1;
    --scrollbar-thumb: #e0e1e4;
    --scrollbar-thumb-hover: #b6b7b9;

    --select-color: #000;
    --select-background-color: #c1daf3;
}


body.dark{
    --text-color: rgba(255, 255, 255, 0.7);
    --body-background-color: #242526;
    --div-background-color: #2a2c2d;
    
    --border: 1px solid rgb(69, 66, 66);

    --input: #232526;
    --button-txt: white;
    --button-bg: #242526;
    --button-bg-hover: #343536;

    --div-hover: #242526;
    --scrollbar-track: #343536;
    --scrollbar-thumb: #191a1b;
    --scrollbar-thumb-hover: #b6b7b9;

    --select-color: #000;
    --select-background-color: #c1daf3;
}



body {
    background-color: var(--body-background-color);
    color: var(--text-color);
}

::selection {
    color: var(--select-color);
    background-color: var(--select-background-color);
}

/*     Mobile Support     */

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 2.5px;
    box-shadow: 0px 0px 20px -15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 2.5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 2.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
    border-radius: 2.55px;
}



#roomname,
#join-room-name {
    outline: none;
    border: var(--border);
    box-shadow: 0px 0px 20px -20px;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: fit-content;
    max-height: 40px;
    margin-bottom: 10px;
    background-color: var(--input);
    color: var(--text-color);
}

#roomname:focus,
#join-room-name:focus {
    transform: scale(1.025);
}

.hidden {
    display: none;
}

#joinroom,
#createroom {
    padding: 10px;
    outline: none;
    border: var(--border);
    box-shadow: 0px 0px 20px -20px;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    max-height: 50px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    margin-bottom: 50px;
    background-color: var(--input);
    color: var(--text-color);
}

#joinroom:hover,
#createroom:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

#joinroom:active,
#createroom:active {
    transform: scale(0.95);
}


.roomSelection {
    padding: 10px;
    border: var(--border);
    margin: 10px;
    border-radius: 10px;
    background-color: var(--div-background-color);
}

#chat-title {
    text-align: center;
    font-size: 38px;
    background: -webkit-linear-gradient(#0778c2, #01e496);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#total-chats {
    font-size: 12px;
    text-align: center;
    background: -webkit-linear-gradient(#0778c2, #01e496);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.chat {
    padding: 10px;
    border: var(--border);
    margin: 10px;
    border-radius: 10px;
    background-color: var(--div-background-color);
    height: 97vh;
    min-height: 97vh;
}

ul {
    list-style: none;
    height: 80vh;
    height: 80dvh;
    overflow-y: scroll;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    background-color: var(--body-background-color);
    max-width: 73vw;
    min-width: 35vw;
    width: fit-content;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 25px;
    color: var(--text-color);
    font-size: 16px;
    overflow-wrap: break-word;
    position: relative;
    transition: all 0.4s ease-in-out;
}

li::first-line {
    font-weight: 600;
}

li:hover {
    box-shadow: 0px 0px 12.5px -10px;
}

li::after {
    border-right: 20px solid transparent;
    border-top: 20px solid var(--li-chat-bubbles);
    bottom: -20px;
    content: "";
    position: absolute;
    left: 10px;
}

#message {
    outline: none;
    border: var(--border);
    box-shadow: 0px 0px 20px -20px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    width: 50%;
    height: 50px;
    margin: 5px;
    font-size: 16px;
    border-radius: 20px;
    display: inline-block;
    color: var(--text-color);
    background-color: var(--input);
}

#message:focus {
    transform: scale(1.025);
}

#btn-send {
    color: var(--button-txt);
    padding: 10px;
    outline: none;
    border: var(--border);
    box-shadow: 0px 0px 20px -20px;
    border-radius: 10px;
    width: 45%;
    height: 50px;
    background-color: var(--button-bg);
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    user-select: none;
}

#btn-send:hover {
    background-color: var(--button-bg-hover);
    cursor: pointer;
}

.btn-send:active {
    transform: scale(0.95);
}

#btn-send-reply {
    padding: 5px;
    outline: none;
    border: var(--border);
    box-shadow: 0px 0px 20px -20px;
    border-radius: 10px;
    width: 25%;
    height: 30px;
    background-color: var(--input);
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
    font-size: 15px;
    user-select: none;
    margin-top: 20px;
}

#btn-send-reply:hover {
    background-color: var(--button-bg-hover);
    cursor: pointer;
}

#btn-send-reply:active {
 transform: scale(0.95);
}

#replyMessage {
    outline: none;
    border: var(--border);
    box-shadow: 0px 0px 20px -20px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    width: 65%;
    height: 30px;
    margin: 5px;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    color: var(--text-color);
    background-color: var(--input);
}

.btn-share {
    padding: 5px;
    color: var(--button-txt);
    outline: none;
    border: var(--border);
    box-shadow: 0px 0px 20px -20px;
    border-radius: 10px;
    height: 30px;
    background-color: var(--button-bg);
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    user-select: none;
}

.btn-share:hover {
    background-color: var(--button-bg-hover);
    cursor: pointer;
}

.btn-share:active {
    transform: scale(0.95);
}

.btn-info {
    color: var(--button-txt);
    padding: 5px;
    outline: none;
    border: var(--border);
    box-shadow: 0px 0px 20px -20px;
    border-radius: 10px;
    height: 30px;
    background-color: var(--button-bg);
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    user-select: none;
    float: right;
}

.btn-info:hover {
    background-color: var(--button-bg-hover);
    cursor: pointer;
}

.btn-info:active {
    transform: scale(0.95);
}

.btn-settings {
    color: var(--button-txt);
    padding: 5px;
    outline: none;
    border: var(--border);
    box-shadow: 0px 0px 20px -20px;
    border-radius: 10px;
    height: 30px;
    background-color: var(--button-bg);
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
    margin-bottom: 10px;
    user-select: none;
    float: right;
}

.btn-settings:hover {
    background-color: var(--button-bg-hover);
    cursor: pointer;
    color: #08967f;
}

.btn-settings:active {
    transform: scale(0.95);
}

.btn-emoji {
    color: var(--button-txt);
    padding: 5px;
    outline: none;
    border: var(--border);
    box-shadow: 0px 0px 20px -20px;
    border-radius: 10px;
    height: 30px;
    background-color: var(--button-bg);
    transition: all 0.3s ease-in-out;
    margin-left: 5px;
    margin-bottom: 10px;
    user-select: none;
}

.btn-emoji:hover {
    background-color: var(--button-bg-hover);
    cursor: pointer;
}

.btn-emoji:active {
    transform: scale(0.95);
}

#chatname {
    transition: all 0.3s ease-in-out;
    display: none;
}

#chatname:hover {
    color: teal;
    cursor: pointer;
}

.notify {
    transition: all 0.2s ease-in-out 0ms;
    border: var(--border);
}

.notify:hover {
    border: 0.5px solid #dd4132;
    cursor: pointer;
}

.share-menu {
    width: 80vw;
    height: fit-content;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 10px;
    border: var(--border);
    box-shadow: 0px 0px 20px -20px;
    z-index: 25;
    background-color: var(--div-background-color);
    padding: 15px;
    margin-top: 25px;
    color: var(--text-color);
}


.share-p {
    float: left;
    font-size: 22px;
    user-select: none;
}

.x-button {
    float: right;
    font-size: 22px;
    padding-right: 10px;
    transition: all 0.3s ease-in-out 0ms;
    border-radius: 5px;
    color: var(--text-color);
}

.x-button:hover {
    color: red;
    cursor: pointer;
    user-select: none;
}

.share {
    width: 75%;
    background-color: var(--button-bg);
    transition: all 0.4s ease-in-out;
    height: 75px;
    cursor: pointer;
    border-radius: 5px;
    color: var(--button-txt);
    font-weight: 500;
    font-size: 18px;
    border: none;
    outline: none;
    margin: 5px;
    margin-left: 10%;
    margin-bottom: 10px;
}

.share:hover {
    background-color: var(--button-bg-hover);
    transform: scale(1.05);
}

.link {
    width: 25%;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 100px;
    font-size: 18px;
    text-align: center;
}

.menus {
    width: 80vw;
    height: max-content;
    margin: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text-color);
    background-color: var(--div-background-color);
    padding: 20px;
    border: var(--border);
}


.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

#emailMessage {
    font-size: 14px;
    transition: all 0.3s ease-in-out 0ms;
}

.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 25px;
    font-size: 12px;
    transition: all 0.3s ease-in-out 0ms;
}

#timeMessage {
    font-size: 12px;
    transition: all 0.3s ease-in-out 0ms;
}

#messageSize {
    font-size: 12px;
}
/* From uiverse.io by @e-coders */

.buttonMenu {
    appearance: none;
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292e;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.buttonMenu:hover {
    background-color: #f3f4f6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.buttonMenu:disabled {
    background-color: #fafbfc;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959da5;
    cursor: default;
}

.buttonMenu:active {
    background-color: #edeff2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.buttonMenu:focus {
    outline: 1px transparent;
}

.buttonMenu:before {
    display: none;
}

.buttonMenu:-webkit-details-marker {
    display: none;
}

#imageChat {
    padding: 5px;
}

.roomSelection {
    margin: 10px;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.item {
    margin: 25px;
    padding: 15px;
    width: 80vw;
    height: fit-content;
    max-height: 95vh;
    background-color: var(--div-background-color);
    color: var(--text-color);
    border: var(--border);
    border-radius: 10px;
}

.item li {
    max-width: 25vw;
    max-height: 20vh;
    height: fit-content;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
}

.item ul {
    max-height: 50vh;
    overflow-y: scroll;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.version {
    position: fixed;
    font-size: 12px;
}

a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #dd4132;
}

iframe {
    border: none;
}

#tooltip {
    background: var(--body-background-color);
    border: var(--border);
    border-radius: 10px;
    padding: 7px;
    color: var(--text-color);
    box-shadow: 0px 0px 12.5px -8px;
    cursor: pointer;
    transition: all 0.15s ease 0ms;
}

.qr-code {
    opacity: 0;
    display: flex;
    padding: 33px 0;
    border-radius: 5px;
    align-items: center;
    pointer-events: none;
    justify-content: center;
    border: var(--border);
    margin-top: 20px;
}
.share-menu .qr-code {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}
.qr-code img {
    width: 170px;
}

.f {
    margin-left: 15px;
}

#videochat {
    padding: 10px;
    outline: none;
    border: var(--border);
    box-shadow: 0px 0px 20px -20px;
    border-radius: 10px;
    margin-top: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 50px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

#videochat:hover {
    background-color: var(--button-bg-hover);
    cursor: pointer;
}

.z-button {
    float: left;
    font-size: 22px;
    padding-right: 10px;
    transition: all 0.3s ease-in-out 0ms;
    border-radius: 5px;
    color: black;
    margin: auto;
}

.z-button:hover {
    color: red;
    cursor: pointer;
    user-select: none;
}

.iframe {
    display: fixed;
    width: 85vw;
    height: 90vh;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 10px;
    border: var(--border);
    z-index: 25000;
}

.butt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#menuItems {
    width: 30vw;
    height: 50px;
    background-color: var(--input);
    color: var(--li-color);
    border: var(--border);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    margin-left: 3vw;
    margin-bottom: 2.25vh;
}

#menuItems:hover {
    background-color: var(--div-background-color);
    box-shadow: 0px 0px 10px -10px;
    cursor: pointer;
}

#menuItems:active {
    transform: scale(0.95);
}

.te {
    margin-left: 10px;
}

.wifi {
    font-size: 150px;
    width: 80vw;
    margin: auto;
    margin-top: 20vh;
    z-index: 100000000;
    border: var(--border);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.wifi p {
    font-size: 55px;
}


.myMessage::first-line {
 color: #3b73bb;
}

.timemin {
    font-size: 12px;
}


.circular--portrait {
     position: relative;
     width: 50px; 
     height: 50px; 
     overflow: hidden; 
     border-radius: 50%; 
     margin-right: 25px;
} 

.circular--portrait img { 
    width: 100%; 
    height: auto; 
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#loading{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:100
}

.lds-spinner {
    color:official;
    display:inline-block;
    position:relative;
    width:80px;
    height:80px;
    z-index: 100;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: darkgray;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.emoji-picker {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.first {
    display: flex;
    flex-direction: row;
}

#replies {
    display: flex;
    flex-direction: column;
}

.miniText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.replyText {
    font-size: 12px;
    transition: all 0.2s ease-in-out 0ms;
}

.replyText:hover{ 
    cursor: pointer;
    transform: rotate(10deg)
}